<?xml version="1.0"?>
<ruleset name="Plugin Name">
	<description>Coding Standard for the "Plugin Name" plugin.</description>

	<file>.</file>

	<rule ref="Required-Strict"/>

	<!-- The minimum supported WordPress version for all sniffs which use it. -->
	<config name="minimum_supported_wp_version" value="6.3"/>
	<!-- The minimum PHP requirement. -->
	<config name="testVersion" value="8.0-"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="plugin-name"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="Required\PluginName"/>
				<element value="plugin_name"/>
			</property>
		</properties>
	</rule>

	<rule ref="SlevomatCodingStandard.Commenting.ForbiddenAnnotations">
		<properties>
			<property name="forbiddenAnnotations" type="array" extend="true">
				<element value="@since"/>
			</property>
		</properties>
	</rule>

		<!-- Used in block render files. -->
	<rule ref="VariableAnalysis.CodeAnalysis.VariableAnalysis">
		<properties>
			<property name="validUndefinedVariableNames" value="attributes block"/>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound">
		<exclude-pattern>/assets/src/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.GlobalVariablesOverride.Prohibited">
		<exclude-pattern>/assets/src/*</exclude-pattern>
	</rule>

	<exclude-pattern>/assets/dist/*</exclude-pattern>
</ruleset>
